@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.restaurant-items {
  max-width: 1440px;
  margin: 0px auto;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid green;
}

.restaurant-item {
  width: 45%;
  padding: 10px;
  border: 3px solid rgba(128, 128, 128, 0.76);
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Reviews {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.329);
  border: 3px solid rgba(128, 128, 128, 0.76)
}

.review-rate {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  margin: 0px;
  font-size: 20px;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-weight: 400;
  background-color: seagreen;
}

.title {
  background-color: seagreen;
  color: white;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
}

.rate {
  margin: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  color: seagreen;
}

@media (max-width: 768px) {
  .restaurant-item {
    width: 100%;
  }
}