@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.restaurantPage {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.restaurant {
  border-radius: 10px;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  padding: 15px;
  width: 47%;
  min-height: 850px;
}

.dish {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.253);
}

.dish_counter {
  width: 110px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.dish_counter button {
  padding: 3px 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  background-color: #FAACA8;
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  font-size: 25px;
  cursor: pointer;
}

.dish_counter span {
  font-size: 20px;
}

.ingredient_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.ingredient_counter {
  width: 80px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.ingredient_counter button {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  cursor: pointer;
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  
  font-size: 20px;
}

.reviews {
  border: 1px solid rgba(0, 0, 0, 0.253);
  padding: 10px;
  padding-top: 0;
  border-radius: 10px;
  background-color: white;
}